<h1>USERS</h1>

<% @users.each do |user| %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "View", user %>
          <%= link_to "Edit", edit_user_path(user) %>
          <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<p><%= link_to "Home", root_path %></p>
