<div class="container mb-5">
  <div class="row">
    
    <!-- User image -->
    <div class="col-md-6">
      <% name = @user.name %>
      <%= image_tag "products/#{name}/#{name}.jfif", class: "img-fluid" %>
    </div><!-- end col product image -->

    <!-- col product info + actions -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @product.name %></h1>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <% if @product.categories.any?%>
            <% @product.categories.each do | category| %>
              <span class="badge bg-primary text-uppercase"><%= category.name %></span>
            <% end %>
          <% end %>
          <span class="monospaced">No. 1982-<%= @product.id %></span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <p><%= simple_format(truncate(@product.description, length: 150)) %></p>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-7">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <span class="badge bg-success">61 reviews</span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12 index-bottom">
          <h2 class="product-price">$ <%= @product.value %>0</h2>
        </div>
      </div><!-- end row -->

      <!-- row product quantity + vendor info -->
      <div class="row add-to-cart-top">
        <div class="col-7">
          <span class="btn btn-dark btn-lg btn-qty">
            <%= link_to session_add_path, class: "caret_up", method: :post do %>
              <i class="bi bi-caret-up-fill"></i>
            <% end %>
          </span>
          <input class="btn btn-light btn-qty" value="<%= session[:product_qty] %>" />
          <span class="btn btn-dark btn-lg btn-qty">
            <%= link_to session_reduce_path, class: "caret_down", method: :post do %>
              <i class="bi bi-caret-down-fill"></i>
            <% end %>
          </span>
          <div class="text-left mt-2 mb-3">
            <span class="monospaced"><i class="bi bi-cart-check"></i> Available In Stock</span>
          </div>
        </div>
        <div class="col-5 mt-2 justify-content-start">
          <h6 class="monospaced"><strong>Manufacturer:</strong></h6>
          <h6 class="monospaced">Lockheed Martin</h6>
          <%= link_to "lockheedmartin.com", "https://www.lockheedmartin.com/", class: "show-product-link", target: :_blank %>
        </div>
      </div><!-- end row product quantity -->

      <!-- row buy now -->
      <div class="row add-to-cart">
        <div class="d-grid">
          <!-- Define button action -->
          <% if current_user %>
            <% @shopping_cart = current_user.shopping_carts.last %>
            <% if @shopping_cart.products.find_by(name: @product.name).nil? %>
              <button class="btn btn-lg btn-info">
                <%= link_to shopping_cart_buy_now_path(:id => session[:cart_id]), method: :post, class: "caret_up" do %>
                  <i class="bi bi-cart-check"></i> Buy Now!
                <% end %>
              </button>
            <% end %>
          <% else %>
            <button class="btn btn-lg btn-info">
              <%= link_to login_path, class: "caret_up" do %>
                <i class="bi bi-cart-check"></i> Buy Now!
              <% end %>
            </button>  
          <% end %>
        </div>
      </div><!-- end row buy now -->

      <!-- row add to cart -->
      <div class="row add-to-cart-bottom">
        <div class="d-grid">
          <!-- Define button action -->
          <% if current_user %>
            <% @shopping_cart = current_user.shopping_carts.last %>
            <% if !@shopping_cart.products.find_by(name: @product.name).nil? %>
              <button class="btn btn-lg btn-secondary">
                <%= link_to @shopping_cart, class: "caret_up" do %>
                  View <i class="bi bi-cart2"></i> <small class="small-product-show">(added)</small>
                <% end %>
              </button>
            <% else %>
              <button class="btn btn-lg btn-secondary">
                <%= link_to shopping_cart_add_to_cart_path(:id => session[:cart_id]), method: :post, class: "caret_up" do %>
                  <i class="bi bi-cart-plus"></i> Add to cart
                <% end %>
              </button>
            <% end %>
          <% else %>
            <button class="btn btn-lg btn-secondary">
              <%= link_to login_path, class: "caret_up" do %>
                <i class="bi bi-cart-plus"></i> Add to cart
              <% end %>
            </button>  
          <% end %>
        </div>
      </div><!-- end row add to cart -->

      <div class="row">
        <div class="col-md-12 top-10">
          <p>Lead time may vary depending on stock, <a href="tel:18005551212">please call: 1-800-555-1212</a></p>
        </div>
      </div><!-- end row -->

      

    </div><!-- end col Product info + actions -->
  </div><!-- end row -->
</div><!-- end container -->