<div class="container">
  <div class="row">
    <h1 class="homepage">Patchwork</h1>
  </div>
  
  <div class="row">
    <p><%= link_to "Produtos", products_path  %></p>
    <% if logged_in? && current_user.admin? %>
      <h2>Admin</h2>
      <p><%= link_to "Categories index", categories_path  %></p>
      <p><%= link_to "Shopping carts index", shopping_carts_path  %></p>
      <p><%= link_to "Users index", users_path  %></p>
      <p><%= link_to 'Sair', logout_path, method: :delete %></p>
    <% elsif logged_in? %>
      <p><%= link_to 'Entrar', logout_path, method: :delete %></p>
    <% else %>
      <p><%= link_to 'Entrar', login_path %> | <%= link_to 'Crie sua conta', signup_path %></p>
    <% end %>
  </div>
</div>


