<!-- Referemce: https://www.practicalecommerce.com/Create-Responsive-Ecommerce-Product-Pages-with-Bootstrap -->

<div class="container">
  <div class="row mt-3">
    <p>Home / Products / <%= @product.name %>
      <i class="bi bi-cart2"></i> 
      <i class="bi bi-cart3"></i> 
      <i class="bi bi-cart4"></i>
    </p>
  </div>
</div><!-- end row -->

<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6 product-show-div">
      <% name = @product.name %>
      <%= image_tag "products/#{name}/#{name}-1024x1024.jpg", width: '484', height: '302.5', class: "image-responsive" %>
    </div>
    <div class="col-md-6 product-show-div">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @product.name %></h1>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <span class="badge bg-primary">CATEGORY</span>
          <span class="monospaced">Cod. 01</span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <p class="description">
            <%= @product.description %>
          </p>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <span class="badge bg-success">61</span>
        </div>
        <div class="col-md-3">
          <span class="monospaced">Review</span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">R$ <%= @product.value %></h2>
        </div>
      </div><!-- end row -->

      <div class="row add-to-cart">
        <div class="col-md-5 product-qty">
          <span class="btn btn-dark btn-lg btn-qty">
            <%= link_to session_add_path, class: "caret_up", method: :post do %>
              <i class="bi bi-caret-up-fill"></i>
            <% end %>
          </span>
          <input class="btn btn-light btn-qty" value="<%= session[:product_qty] %>" />
          <span class="btn btn-dark btn-lg btn-qty">
            <%= link_to session_reduce_path, class: "caret_down", method: :post do %>
              <i class="bi bi-caret-down-fill"></i>
            <% end %>
          </span>
        </div>
        <div class="col-md-5">
          <button class="btn btn-lg btn-secondary btn-brand btn-full-width">

            <!-- Define button action -->
            <% if current_user && !current_user.shopping_carts.find_by(checked_in: false).nil? %>
              <% @shopping_cart = current_user.shopping_carts.last %>
              <% if !@shopping_cart.products.find_by(name: @product.name).nil? %>
                <%= link_to @shopping_cart, class: "caret_up" do %>
                  Item já no <i class="bi bi-cart2"></i>
                <% end %>
              <% else %>
                <%= link_to shopping_cart_add_to_cart_path(:id => session[:cart_id]), method: :post, class: "caret_up" do %>
                  <i class="bi bi-cart2"></i> Comprar
                <% end %>
              <% end %>
            <% elsif !current_user %>
              <%= link_to login_path, class: "caret_up" do %>
                <i class="bi bi-cart2"></i> <small class="small-product-show">(login necessário)</small>
              <% end %>  
            <% end %>

          </button>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <span class="monospaced">Item disponível</span>
          </div>
        </div><!-- end row -->
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12 bottom-rule top-10"></div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12 top-10">
          <p>Prazo de entrega conforme situação estoque, <a href="tel:18005551212">fale conosco: 0800-555-1212</a></p>
        </div>
      </div><!-- end row -->

      <!-- NEW Nav tabs -->
      <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Descrição</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="features" aria-selected="false">Características</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Observações</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Opiniões</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <%= @product.description %>
        </div>
        <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
          Describe some features
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          Add some notes
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
          Add some reviews
        </div>
      </div>

    </div>
  </div><!-- end row -->
</div><!-- end container -->

<p><%= link_to 'Products Index', products_path %></p>
