<!-- Referemce: https://www.practicalecommerce.com/Create-Responsive-Ecommerce-Product-Pages-with-Bootstrap -->
<div class="container">
  <div class="row">
    <p>Home / Products / <%= @product.name %></p>
  </div>
</div><!-- end row -->

<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6">
      <% name = @product.name %>
      <%= image_tag "products/#{name}/#{name}-1024x1024.jpg", width: '484', height: '302.5', class: "image-responsive" %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @product.name %></h1>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <span class="badge bg-primary">CATEGORY</span>
          <span class="monospaced">No. SERIAL NUMBER</span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <p class="description">
            Classic film camera. Uses 620 roll film.
            Has a 2&frac14; x 3&frac14; inch image size.
          </p>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-3">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <span class="badge bg-success">61</span>
        </div>
        <div class="col-md-3">
          <span class="monospaced">Write a Review</span>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">R$ <%= @product.value %></h2>
        </div>
      </div><!-- end row -->

      <div class="row add-to-cart">
        <div class="col-md-5 product-qty">
          <span class="btn btn-light btn-lg btn-qty">
            <i class="bi bi-caret-up-fill"></i>
          </span>
          <input class="btn btn-light btn-qty" value="1" />
          <span class="btn btn-light btn-lg btn-qty">
            <i class="bi bi-caret-down-fill"></i>
          </span>
        </div>
        <div class="col-md-4">
          <button class="btn btn-lg btn-secondary btn-brand btn-full-width">
          Add to Cart
          </button>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-4 text-center">
          <span class="monospaced">In Stock</span>
        </div>
        <div class="col-md-4 col-md-offset-1 text-center">
          <a class="monospaced" href="#">Add to Shopping List</a>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12 bottom-rule top-10"></div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12 top-10">
          <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
        </div>
      </div><!-- end row -->

      <!-- NEW Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="features" aria-selected="false">Features</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60.
        </div>
        <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
          Describe some features
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          Add some notes
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
          Add some reviews
        </div>
      </div>

    </div>
  </div><!-- end row -->
</div><!-- end container -->

<p><%= link_to 'Products Index', products_path %></p>

<% if current_user && !current_user.shopping_carts.find_by(checked_in: false).nil? %>
  <% @shopping_cart = current_user.shopping_carts.last %>
  <% if !@shopping_cart.products.find_by(name: @product.name).nil? %>
    <p>Product already in your shopping cart, go ahead and add some more -> <%= link_to 'Shopping cart', @shopping_cart %></p>
  <% else %>
    <p><%= link_to 'Add to cart', shopping_cart_add_to_cart_path(:id => session[:cart_id]), method: :post %></p> 
  <% end %>
<% elsif !current_user %>
  <p><%= link_to 'Log in', login_path %></p>
  <p><%= link_to 'Sign up', signup_path %></p>  
<% end %>